// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.title-header {
    background-color: $very-dark;
}

.btn-back-to {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}