@font-face {
    font-family: "sukhumvit";
    src: url("../font/SukhumvitReg.woff2") format('woff2'),
        url("../font/SukhumvitReg.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "sukhumvit";
    src: url("../font/SukhumvitBold.woff2") format('woff2'),
        url("../font/SukhumvitBold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "base-icon";
    src: url("../font/base-icon-v1.0.16.woff2") format('woff2'),
        url("../font/base-icon-v1.0.16.woff") format('woff');
    font-weight: 700;
    font-style: normal;
}

.ballon {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: flex-end;
    flex: 1;
    right: 10%;
}

.ballon img {
    width: 88px;
    height: auto;
}

html,
body {
    font-family: Helvetica;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: #393B47;
}

a, a:active, a:focus, a:link {
    text-decoration: none !important;
}

.container {
    max-width: 720px;
}

header#main-header {
    width: 100%;
    height: auto;
    align-items: top;
}

header#main-header .container {
    height: auto;
}

header#main-header .container .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    justify-content: flex-start;
}

.logo img {
    width: 88px;
    height: auto;
    padding-top: 0;
    margin-top: -5px;
}

.logo a {
    padding-left: 10px;
    text-decoration: none;
    line-height: 16px;
}

.logo a span {
    font-family: "sukhumvit";
    font-weight: bold;
    color: #f6e00a;
    font-size: 28px;
}

.logo a small {
    font-family: "sukhumvit";
    color: #fff;
    font-size: 12px;
}

.chinese-character {
    text-align: center;
    margin-top: 10px;
}

.chinese-character img {
    max-width: 230px;
    height: auto;
}

.form-page section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 10;
    flex-direction: column;
}

.form-page section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-page section form {
    margin-bottom: 30px;
    width: 100%;
}

.form-page section form h1 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    font-family: "sukhumvit";
}

.button.is-primary {
    background-color: #e9d749;
    background: -moz-linear-gradient(90deg, #e9d749, #f4e87a, #f2e14f);
    background: -webkit-linear-gradient(90deg, #e9d749, #f4e87a, #f2e14f);
    background: -o-linear-gradient(90deg, #e9d749, #f4e87a, #f2e14f);
    background: -ms-linear-gradient(90deg, #e9d749, #f4e87a, #f2e14f);
    background: linear-gradient(90deg, #e9d749, #f4e87a, #f2e14f);
    color: #333;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0,0,0,.18);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.18);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.18);
}

.form-page section form input, .form-page section form select {
    border-radius: 4px;
    font-family: "sukhumvit";
}

.form-page section form input:focus, .form-page section form select:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-page section form .input-group-text {
    width: 40px;
    text-align: center;
    clear: both;
    justify-content: center;
}

.form-page section form i {
    font-size: 14px;
}

.form-page section form .input-group-prepend .input-group-text {
    border-radius: 4px 0 0 4px;
    background-color: white;
    color: #666;
    font-size: 18px;
}

.form-page section form label {
    float: left;
    color: white;
    font-size: 12px;
}

.form-page section form input::placeholder {
    color: #98A9BC;
}

.form-page section form .input-groupp {
    margin-bottom: 8px !important;
    width: 100%;
}

.form-page section form button.btn-login, .form-page section form button.btn-register {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    background-color: #f6e015;
    background: -moz-linear-gradient(90deg, #f6e015, #f8e863, #f6e015);
    background: -webkit-linear-gradient(90deg, #f6e015, #f8e863, #f6e015);
    background: -o-linear-gradient(90deg, #f6e015, #f8e863, #f6e015);
    background: -ms-linear-gradient(90deg, #f6e015, #f8e863, #f6e015);
    background: linear-gradient(90deg, #f6e015, #f8e863, #f6e015);
    border: 0;
    padding: 8px 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,.18);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.18);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.18);
    margin-top: 7px;
    border-radius: 50px;
}

.menu-bottom {
    width: 100%;
    max-width: 280px;
}

.menu-bottom ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-bottom li {
    float: left;
    width: 50%;
    color: #fff;
    padding: 0;
    text-align: center;
}

.menu-bottom li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-family: "sukhumvit";
}

.form-page section .alert {
    font-size: 12px;;
}

.alert-dismissible .close {
    padding: 8px 15px;
}

.loading {
    text-align: center;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0,.5);
}

.loading img {
    width: 50px;
    height: 50px;;
}